<div [ngClass]="{'input__edit': isEdit}" class="task">
  <p *ngIf="!isEdit; else input" [ngClass]="{'complete': task.completed}" class="title">
    {{task.todo}}
  </p>
  <ng-template #input>
    <input [(ngModel)]="task.todo" class="title" type="text">
  </ng-template>
  <div class="actions">
    <button (click)="isEdit = true" *ngIf="!isEdit; else save" class="edit">
      <img alt="edit" draggable="false" src="assets/img/icons/pencil.svg">
    </button>
    <ng-template #save>
      <button (click)="changeTitleTask()" class="edit">
        <img alt="save" draggable="false" src="assets/img/icons/pencil.svg">
      </button>
    </ng-template>
    <button (click)="changeStatus()" *ngIf="!task.completed; else cancel" class="completed">
      <img alt="complete" draggable="false" src="assets/img/icons/check.svg">
    </button>
    <ng-template #cancel>
      <button (click)="changeStatus()" class="completed">
        <img alt="cancel" draggable="false" src="assets/img/icons/cancel.svg">
      </button>
    </ng-template>
    <button (click)="deleteTask()" class="delete">
      <img alt="delete" draggable="false" src="assets/img/icons/delete.svg">
    </button>
  </div>
</div>
