<div class="actions">
  <div class="actions__inner">
    <div class="mode">
      <h2 class="title">
        Mode:
      </h2>
      <div class="buttons">
        <button (click)="setOffline(true)" class="btn btn-primary">
          <img alt="offline mode" class="img"
               draggable="false"
               src="assets/img/icons/{{this.proxyService.offline ? 'offline-on' : 'offline-off'}}.svg">
        </button>
        <button (click)="setOffline(false)" class="btn btn-primary">
          <img alt="online mode" class="img"
               draggable="false"
               src="assets/img/icons/{{this.proxyService.offline ? 'online-off' : 'online-on'}}.svg">
        </button>
      </div>
    </div>
    <div class="sort">
      <h2 class="title">
        Sort:
      </h2>
      <div class="buttons">
        <button (click)="sortingById()" class="btn btn-primary">
          <img alt="sort by id" draggable="false" src="assets/img/icons/sort-numeric-descending.svg">
        </button>
        <button (click)="sortingByCompleted()" class="btn btn-primary">
          <img alt="sort by complete" draggable="false" src="assets/img/icons/sort-numeric-ascending.svg">
        </button>
      </div>
    </div>
  </div>
  <button (click)="logOut()" class="logout">
    <p> Log out</p>
  </button>
</div>
